:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --t-black: #2d3138;
    --t-blue-dark: #002a61;
    --t-blue: #4d94e0;
    --t-blue-light: #10bde5;
    --t-teal: #087da8;
    --t-teal-light: #10bde5;
    --t-green-dark: #0f4a33;
    --t-green: #28c98b;
    --t-green-light: #33ffb1;
    --t-lime: #96b53b;
    --t-lime-dark: #809a32;
    --g-1: #f8f9fa;
    --g-2: #e9ecef;
    --g-3: #dee2e6;
    --g-4: #ced4da;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    line-height: 1.15
}

header,
section {
    display: block
}

body {
    background-color: #fff;
    color: #212529;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important
}

h3 {
    margin-top: 0
}

p {
    margin-bottom: 1rem;
    margin-top: 0
}

ul {
    margin-bottom: 1rem
}

ul {
    margin-top: 0
}

a {
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

label {
    display: inline-block
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

h3 {
    font-weight: 500;
    margin-bottom: .5rem
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px
}

.col-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.order-3 {
    order: 3
}

@media (min-width:768px) {
    .col-md-5 {
        flex: 0 0 41.66666667%;
        max-width: 41.66666667%
    }

    .col-md-7 {
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%
    }

    .order-md-2 {
        order: 2
    }
}

@media (min-width:992px) {

    .col-lg-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%
    }

    .col-lg-5 {
        flex: 0 0 41.66666667%;
        max-width: 41.66666667%
    }
}

@media (min-width:1200px) {
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xl-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%
    }
}

.form-control {
    background-clip: padding-box;
    background-color: #fff;
    display: block;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control:focus {
    background-color: #fff;
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    color: #495057;
    outline: 0
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1
}

.form-control-lg {
    line-height: 1.5
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px
}

.form-row>[class*=col-] {
    padding-left: 5px;
    padding-right: 5px
}

.btn {
    border: 1px solid transparent;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    outline: 0
}

.btn:disabled {
    opacity: .65
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn-t-blue-light:not(:disabled):not(.disabled).active,
.btn-t-blue-light:not(:disabled):not(.disabled):active {
    background-color: #0d96b5;
    border-color: #0c8ca9;
    color: #fff
}

.btn-t-blue-light:not(:disabled):not(.disabled).active:focus,
.btn-t-blue-light:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(52, 199, 233, .5)
}

.btn-t-teal:not(:disabled):not(.disabled).active,
.btn-t-teal:not(:disabled):not(.disabled):active {
    background-color: #065977;
    border-color: #05506b;
    color: #fff
}

.btn-t-teal:not(:disabled):not(.disabled).active:focus,
.btn-t-teal:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(45, 145, 181, .5)
}

.btn-t-green {
    background-color: #28c98b;
    border-color: #28c98b;
    color: #fff
}

.btn-t-green:focus,
.btn-t-green:hover {
    background-color: #22a975;
    border-color: #209e6e;
    color: #fff
}

.btn-t-green:focus {
    box-shadow: 0 0 0 .2rem rgba(72, 209, 156, .5)
}

.btn-t-green:disabled {
    background-color: #28c98b;
    border-color: #28c98b;
    color: #fff
}

.btn-t-green:not(:disabled):not(.disabled).active,
.btn-t-green:not(:disabled):not(.disabled):active {
    background-color: #209e6e;
    border-color: #1d9466;
    color: #fff
}

.btn-t-green:not(:disabled):not(.disabled).active:focus,
.btn-t-green:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 .2rem rgba(72, 209, 156, .5)
}

.btn-block {
    width: 100%
}

.card {
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: .75
}

.bg-g-1 {
    background-color: #f8f9fa !important
}

.d-none {
    display: none !important
}

.d-flex {
    display: flex !important
}

@media (min-width:768px) {
    .d-md-block {
        display: block !important
    }
}

.flex-column {
    flex-direction: column !important
}

.align-items-center {
    align-items: center !important
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
}

.mb-0 {
    margin-bottom: 0 !important
}

.mt-1 {
    margin-top: .25rem !important
}

.mt-2 {
    margin-top: .5rem !important
}

.my-3 {
    margin-top: 1rem !important
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important
}

.p-2 {
    padding: .5rem !important
}

.pb-2 {
    padding-bottom: .5rem !important
}

.pt-3,
.py-3 {
    padding-top: 1rem !important
}

.pr-3 {
    padding-right: 1rem !important
}

.py-3 {
    padding-bottom: 1rem !important
}

.pl-3 {
    padding-left: 1rem !important
}

@media (min-width:576px) {
    .p-sm-3 {
        padding: 1rem !important
    }
}

@media (min-width:768px) {
    .mt-md-4 {
        margin-top: 1.5rem !important
    }

    .pr-md-0 {
        padding-right: 0 !important
    }

    .pl-md-0 {
        padding-left: 0 !important
    }

    .pr-md-5 {
        padding-right: 3rem !important
    }
}

@media (min-width:992px) {
    .my-lg-0 {
        margin-top: 0 !important
    }

    .my-lg-0 {
        margin-bottom: 0 !important
    }

    .pl-lg-5 {
        padding-left: 3rem !important
    }
}

.font-weight-bold {
    font-weight: 700 !important
}

.text-white {
    color: #fff !important
}

.text-dark {
    color: #343a40 !important
}

@font-face {
    font-family: Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: 900;
    src: url(data:application/octet-stream;base64,) format("woff2")
}

.v-select {
    font-family: inherit;
    position: relative
}

.v-select,
.v-select * {
    box-sizing: border-box
}

.vs__dropdown-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    display: flex;
    white-space: normal
}

.vs__selected-options {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0 2px;
    position: relative
}

.vs--searchable .vs__dropdown-toggle {
    cursor: text
}

.vs__selected {
    align-items: center;
    border: 1px solid rgba(60, 60, 60, .26);
    border-radius: 4px;
    color: #333;
    display: flex;
    line-height: 1.4;
    margin: 4px 2px 0;
    padding: 0 .25em;
    z-index: 0
}

.vs--single .vs__selected {
    background-color: transparent;
    border-color: transparent
}

.form-control {
    box-shadow: 0 1px 2px #e9ecef
}

.form-control::-moz-placeholder {
    color: #dee2e6
}

.card {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
    margin-bottom: 2rem
}

body {
    direction: ltr
}

.h-100 {
    height: 100% !important
}

.overflow-y-a {
    overflow-y: auto
}

.root {
    display: flex;
    display: -ms-flexbox;
    flex-flow: column;
    height: 100vh
}

.background {
    background: linear-gradient(180deg, #016659, #0bd1e3 132.49%);
    background-attachment: fixed;
    background-color: #016659;
    background-size: cover;
    bottom: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1.06rem
}

a {
    text-decoration: none;
    transition: all .3s
}

.btn-xl {
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 30px
}

button:focus,
input:focus {
    outline: none
}

.container-fluid {
    padding: 0 50px
}

.header-logo a,
.logoInText {
    color: #fff;
    font-family: Bungee, Impact, sans-serif;
    font-size: 36px;
    letter-spacing: .06em;
    line-height: 120.5%;
    text-shadow: 0 4px 15px rgba(0, 0, 0, .2)
}

.header-logo a {
    position: relative;
    z-index: 1
}

.create-form {
    margin: 0 auto;
    max-width: 410px;
    width: 100%
}

@media (max-width:767px) {
    .create-form {
        max-width: 100%
    }
}

.label-fancy {
    font-size: 14px;
    font-weight: 700;
    line-height: 120.5%;
    margin-bottom: 15px
}

.form-control-fancy {
    background: none;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    padding: 16px 10px
}

.homeFormTiny__after {
    font-size: 14px;
    line-height: 180%;
    margin: 0 auto;
    max-width: 410px;
    padding-left: 10px
}

.heroHome-2cont {
    line-height: 140%;
    position: relative
}

.heroHome-2cont ul {
    margin: 30px 0;
    padding: 0
}

.heroHome-2cont li {
    list-style-type: none;
    margin-bottom: 10px;
    position: relative
}

.heroHome-2cont li:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik0wIDguNTEwNDRMNS40NzkxIDE0TDE2IDMuNDg5NUwxNC40ODk2IDEuOTk5OTRMNS40NzkxIDEwLjk5OTlMMS40ODk1MyA3LjAxMDM5TDAgOC41MTA0NFoiIGZpbGw9IndoaXRlIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDAiPgo8cmVjdCB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9IndoaXRlIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==);
    margin-right: 7px
}

.homeFormTiny__cust-title {
    align-items: center;
    color: #424242;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 18px
}

.alias-dropdown {
    font-size: 16px;
    font-weight: 500;
    width: 100%
}

.alias-dropdown .vs__dropdown-toggle {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 1px 2px #e9ecef;
    padding: 16px 10px
}

@media (min-width:768px) {
    .alias-dropdown .vs__dropdown-toggle {
        border-radius: 10px 0 0 10px
    }
}

.alias-input {
    background: none;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    padding: 16px 10px;
    width: 100%
}

@media (min-width:768px) {
    .alias-input {
        border-left: 0 solid #e5e5e5;
        border-radius: 0 10px 10px 0
    }
}

.alias-input:disabled {
    background-color: transparent
}

.alias-input::-moz-placeholder {
    color: #6c757d
}

.alias-input:focus {
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-left-width: 0;
    box-shadow: none;
}

.rounded-10 {
    border-radius: 10px
}

@media (max-width:991px) {
    .heroHome-2cont {
        padding-right: 40px
    }
}

@media (max-width:767px) {
    .header-logo {
        text-align: center
    }
}

@media (max-width:575px) {
    .heroHome-2cont {
        margin: 30px 0;
        padding: 0
    }

    .container-fluid {
        padding: 0 20px
    }

    .header-logo a,
    .logoInText {
        font-size: 30px
    }
}
